{% extends 'kilimanjaro/base.html' %}

{% block content %}
    
    {% if form.errors %}
        <div class="alert alert-danger mt-3">
            {% for field, errors in form.errors.items %}
                <strong>{{ field|title }}:</strong> {{ errors.0 }}<br>
            {% endfor %}
        </div>
    {% endif %}

    
    <div class="container mt-5 border border-dark p-3">
        <h3>Attendance Form</h3>
        <form action="{% url 'attendance_form' %}" method="post">
            {% csrf_token %}

            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
            
            <div class="form-group p-2">
                <div class="d-flex">
                    <div class="py-2">
                        <label for="date">Select Date</label>
                    </div>
                    <span>&nbsp;</span>
                    <div>
                        <input type="date" class="form-control" name="date" id="id_date">
                    </div>
                </div>
            </div>
            <div class="container border border-dark p-3">
                <div class="overflow-auto" style="height: 600px;">
                    <table class="table table-bordered"> 
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in form %}
                                {% if field.label != "Date" %}
                                    <tr>
                                        <td>{{field.label}}</td>
                                        <td>{{field}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit Attendance</button>
            
        </form>
    </div>
    
{% endblock %}
