{% extends 'kilimanjaro/base.html' %}

{% block content %}

{% if request.user.is_staff %}

    <div class="container p-5 custom-record">
        <h2>Attendance Record</h2>

        <table class="table table-bordered custom-record">
            <thead>
                <tr>
                    <th class="text-center" style="width: fit-content;">ID</th>
                    <th class="text-center" style="width: fit-content;">Name</th>
                    <th class="text-center custom-view" style="width: fit-content;">Leaves</th>
                    <th class="text-center custom-view" style="width: fit-content;">Travels</th>
                    <th class="text-center custom-view" style="width: fit-content;">Absent</th>
                    <th class="text-center" style="width: fit-content;">Attendance %</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in attendance_record %}
                <tr>
                    {% for user, record in employee.items %}
                        <td class="text-end" style="width: fit-content;">{{ user.id }}</td>
                        <td>{{ user.get_full_name }}</td>
                        <td class="text-end custom-view" style="width: fit-content;">{{ record.total_leaves }}</td>
                        <td class="text-end custom-view" style="width: fit-content;">{{ record.total_official_travel }}</td>
                        <td class="text-end custom-view" style="width: fit-content;">{{ record.total_absents }}</td>
                        {% if record.attendance_percentage < 75 %}
                        <td class="bg-danger text-end" style="width: fit-content;">{{ record.attendance_percentage }}%</td>
                        {% elif record.attendance_percentage < 90  %}
                        <td class="bg-warning text-end" style="width: fit-content;">{{ record.attendance_percentage }}%</td>
                        {% else %}
                        <td class="bg-success text-end" style="width: fit-content;">{{ record.attendance_percentage }}%</td>
                        {% endif %}
                    
                    {% endfor %}  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </br>
    <div class="pagination mx-auto" style="width: 300px;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% else %}

    <div class="container mt-5 border border-dark p-3 bg-light">
        <h2>Welcome, {{ user.username }}!</h2>

        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Start Date:</strong></td>
                    <td>{{ company_record.start_date }}</td>
                </tr>
                <tr>
                    <td><strong>Role:</strong></td>
                    <td>{{ company_record.role }}</td>
                </tr>
                <tr>
                    <td><strong>Manager:</strong></td>
                    <td>{{ company_record.manager }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Total Days:</td>
                    <td>{{ employee_attendance_record.total_days }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Total Leaves:</td>
                    <td>{{ employee_attendance_record.total_leaves }} / {{company_record.paid_leaves}}</strong></td>
                </tr>
                <tr>
                    <td><strong>Total Official Travel:</strong></td>
                    <td>{{ employee_attendance_record.total_official_travel }}</td>
                </tr>
                <tr>
                    <td><strong>Total Absents:</strong></td>
                    <td>{{ employee_attendance_record.total_absents }}</td>
                </tr>
                <tr>
                    <td><strong>Total Lates:</strong></td>
                    <td>{{ employee_attendance_record.total_lates }}</td>
                </tr>
                <tr>
                    <td><strong>Attendance Percentage:</strong></td>
                    <td>{{ employee_attendance_record.attendance_percentage }}%</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endif %}

{% endblock %}