{% extends 'kilimanjaro/base.html' %}

{% block content %}

    <div class="container mt-5 border border-dark p-3 bg-light ">
        {% if error_message %}
            <h1>{{ error_message }}</h1>
        {% else %}
            <button class="btn btn-info "><a class="text-dark" href="{% url 'update_employee' pk=employee.id %}" tupe="submit">Edit</a></button>
            </br>
                <h2>{{ company_record.user.username }}!</h2>
                
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Start Date:</strong></td>
                            <td>{{ company_record.start_date }}</td>
                        </tr>
                        <tr>
                            <td><strong>Role:</strong></td>
                            <td>{{ company_record.role }}</td>
                        </tr>
                        <tr>
                            <td><strong>Manager:</strong></td>
                            <td>{{ company_record.manager }}</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Total Days:</td>
                            <td>{{ attendance_record.total_days }}</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Total Leaves:</td>
                            <td>{{ attendance_record.total_leaves }} / {{company_record.paid_leaves}}</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Total Official Travel:</strong></td>
                            <td>{{ attendance_record.total_official_travel }}</td>
                        </tr>
                        <tr>
                            <td><strong>Total Absents:</strong></td>
                            <td>{{ attendance_record.total_absents }}</td>
                        </tr>
                        <tr>
                            <td><strong>Total Lates:</strong></td>
                            <td>{{ attendance_record.total_lates }}</td>
                        </tr>
                        <tr>
                            <td><strong>Attendance Percentage:</strong></td>
                            <td>{{ attendance_record.attendance_percentage }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

{% endblock %}